h1 {
  font-size: 4em;
  margin: 2em;
}

p {
  font-size: 1.5em;
  margin: 10px;
  font-weight: bold;
}

.c-aside {
  grid-area: aside;
  text-align: center;
  padding: 20px;
}

.c-principal {
  grid-area: principal;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.c-principal__articles {
  text-align: center;
  margin: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.c-principal__articles article {
  text-align: center;
  max-width: 300px;
}

.c-principal__articles img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}